<footer class="notepad-site-footer">
    <div class="copyright" style="padding:20px 20px 20px 20px">
         <a href="http://www.mineco.gob.es/" title="Gobierno de España, Vicepresidencia segunda del Gobierno, Ministerio de Asuntos Económicos y Transformación Digital. Secretaría de Estado de Digitalización e Inteligencia Artificial" target="_blank"><img src="{{ site.url }}/images/ministerio.jpg" style="padding: 10px 10px 10px 10px; max-height: 70px"></a>
         <a href="https://www.incibe.es/" title="Instituto Nacional de Ciberseguridad" target="_blank"><img src="{{ site.url }}/images/incibe.jpg" style="padding: 10px 10px 10px 10px; max-height: 70px"></a>
        <!-- <a href="https://www.unex.es/" title="Universidad de Extremadura"><img src="{{ site.url }}/images/uex_h2.jpg" style="padding: 10px 10px 10px 10px; max-height: 70px"></a>
         --> <!-- <a href="http://www.cenits.es/fundacion" title="Fundación Computación y Tecnologías Avanzadas de Extremadura"><img src="{{ site.url }}/images/computaex.jpg" style="padding: 10px 10px 10px 10px; max-height: 70px"></a>
         --><a href="https://www.uclm.es/" title="Universidad de Castilla-la Mancha" target="_blank"><img src="{{ site.url }}/images/uclm.jpg" style="padding: 10px 10px 10px 10px; max-height: 70px"></a>
         <br><br>© JNIC 2021<br><br><a href="{{ site.url }}/bases">Bases de JNIC 2021</a>
    </div>
</footer>
