<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <div class="notepad-blog-logo"><a href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a><div style="font-size: 1.0rem"><b>{{ site.description }}</b><br>{{ site.date }}}</div></div>
        
        
        <div class="clearfix"></div>
    </div>
</header>

<div align="center">
 <div class="row">
  <div class="column"></div>
  <div class="column"></div>
</div> 
</div>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>